@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

   *{
    background-image:url(./assets/img/bg8.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    color:white;
   }


    #btn1{
    background-color: #6eb4e2;
    border: none;
    border-radius: 5%;
    color: white;
    }

    #del{
        background-color: #dc0930;
        border: none;
        border-radius: 5%;
        color: white;
        }
