@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

    #btn1{
    background-color: #6eb4e2;
    border: none;
    border-radius: 5%;
    color: white;
    }

    #del{
        background-color: #dc0930;
        border: none;
        border-radius: 5%;
        color: white;
        }
